body {
  margin: 0;
}

.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.time {
  font-size: 3rem;
}

.button {
  padding: 0rem 1rem;
  margin: .4rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: .8rem;
  border-style: groove;
}

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #4b6ba5;
  border: 1px solid #1b1f2b;
}

.button-primary-active {
  background-color: #4b6ba5;
  border: 1px solid #152684;
  color: white;
}

.button-primary-inactive {
  background-color: #4b6ba5;
  border: 1px solid #152684;
  color: white;
}

.time-sets {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-flow: row;
  align-items: center;
  margin-inline-start: .3em;
  
}
.time-sets h3 {
  padding: 0 1em;
}
.row {
  display: inline-flex;
  padding-left: 2em;
  margin: 0 3em;
  align-content: space-between;
}
